/* Start of essential header and footer*/
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 27px;
    width: max-content;
    justify-content: center;
}

.header {
    min-inline-size: -webkit-fill-available;
    margin-bottom: 9vh;
}

.header, .footer {
    background-color: #fffaff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: #575294 9px solid;
    width: 81vw;
}

.header h1, .footer h3, .footer p {
    color: #333257;
    font-family: -webkit-body;
    font-style: italic;
    font-variant: petite-caps;
}

h1, h3, p {
    margin: 0 0 1em 0;
}

.header h2 {
    background-color: #ffffd2;
    color: #565732;
    font-family: cursive;
    container-type: inline-size;
    font-size: medium;
}

h1, h2, h3, h4, h5 {
    font-family: 'Arvo', serif;
    margin: 0.65em 0 0.45em 0;
    line-height: 1.5;
}

.footer {
    margin-top: 12vh;
    margin-bottom: 9vh;
    border-style: dashed;
}

.header, .footer {
    background-color: #fffaff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: #575294 9px solid;
}

.footer-social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-social li {
    display: inline-block;
}

.footer-social a {
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    transition: background-color 0.3s ease;
}

img.icon {
    width: 32px;
    height: 32px;
}

.sr-only {
    color: black;
    font-size: x-small;
}

/* End of essential header and footer*/

.birthday__stripe {
    position: absolute;
    background-image: url('https://animalcrossing.nintendo.com/assets/img/patterns/birthday-red_2x.jpg');
    width: 64vw;
    height: 11vh;
    margin-left: 11vw;
    min-width: 270px;
}

#main {
    padding: 7vw;
}

.first-img {
    width: 169vw;
    margin-left: -54px;
}