@media only screen and (min-width: 196px) {
    .first-img {
        width: 169vw;
        margin-left: -54px;
    }

    .cap_back {
        background-color: #363869;
        background-image: url('https://animalcrossing.nintendo.com/assets/img/patterns/squares.png');
        background-size: 81px 81px;
        border-bottom-left-radius: 36%;
        border-bottom-right-radius: 36%;
        margin-right: 13px;
        padding-bottom: 64px;
    }

    img.dec-town {
        margin-top: 10vh;
        margin-bottom: 8vh;
        margin-left: 17vw;
        width: 120vw;
        border-radius: 10vw;
        mix-blend-mode: hard-light;
    }

    .li-social {
        display: table-cell;
    }

    img.icon {
        width: 24px;
        height: 24px;
    }

    .a-social {
        -webkit-text-stroke: thin;
    }
}

@media only screen and (min-width: 375px) {
    .hder {
        min-width: auto;
    }

    .cap_back {
        border-bottom-left-radius: 64%;
        border-bottom-right-radius: 64%;
    }

    img.icon {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (min-width: 768px) {
    .first-img {
        width: 81vw;
        margin-left: 23px;
    }

    .cap_back {
        margin-left: 23px;
        width: 81vw;
    }

    img.dec-town {
        margin-left: 13vw;
        width: 60vw;
    }

    .a-social {
        margin-right: 48px;
    }
}

/* Start of essential header and footer*/
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 7px;
    width: max-content;
    justify-content: center;
}

html {
    background-color: #aeb078;
    background-image: url('https://animalcrossing.nintendo.com/assets/img/patterns/squares.png');
    background-blend-mode: normal;
}

.thm-light {
    color-scheme: light;
}

.thm-dark {
    color-scheme: dark;
}

html.thm-light {
    background-color: #aeb078;
    background-image: url('https://animalcrossing.nintendo.com/assets/img/patterns/squares.png');
    background-blend-mode: normal;
}

html.thm-dark {
    background-color: #5e5d44;
    background-image: url('https://animalcrossing.nintendo.com/assets/img/patterns/squares.png');
    background-blend-mode: color-burn;
}

.hder {
    min-inline-size: -webkit-fill-available;
}

header {
    margin-bottom: 9vh;
}

.hder,
.fter {
    /* background-color: #ffdcff; */
    background-color: #e9e9ff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: #575294 9px solid;
    width: 81vw;
    margin-right: 13px;
    place-self: center;
}

.hder:hover,
.fter:hover {
    background-color: #ffffd2;
    border: #d2d2ff 9px solid;
}

.hder h1,
.fter h3,
.fter p {
    color: #333257;
    font-family: -webkit-body;
    font-style: italic;
    font-variant: petite-caps;
}

h1,
h3,
p {
    margin: 0 0 1em 0;
}

.hder h2 {
    background-color: #ffffd2;
    color: #565732;
    font-family: cursive;
    container-type: inline-size;
    font-size: medium;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Arvo', serif;
    margin: 0.65em 0 0.45em 0;
    line-height: 1.5;
}

footer {
    margin-top: 12vh;
}

.fter {
    margin-bottom: 9vh;
    border-style: dashed;
}

.fter-social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.fter-social li {
    display: inline-block;
}

.fter-social a {
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    transition: background-color 0.3s ease;
}

img.dec-town:hover {
    mix-blend-mode: color;
}

.sr-only {
    color: black;
    font-size: x-small;
}

/* End of essential header and footer*/

.caption1 {
    margin-right: 7px;
    justify-self: center;
}

.caption1 {
    padding: 3vw;
    border: #7a78b0 9px solid;
    background-color: #c3bffc;
    width: fit-content;
}

.menu {
    margin-top: 1vh;
    font-family: 'Arvo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.trg-theme {
    background-color: #d7d83e;
    border: #898f00 4px solid;
    border-radius: 20px;
}

.theme-item {
    background-color: #a1a700;
    border: #6f7800 4px solid;
    color: white;
    margin-top: 0.6vh;
    cursor: pointer;
}

.trg-theme:focus+.dropdown-content,
.trg-theme:active+.dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 6px 18px 0px black;
    z-index: 1;
}